1.Given an integer n, perform the following conditional actions:

If n is odd, print Weird

If n is even and in the inclusive range of 2 to 5 , print Not Weird

If n is even and in the inclusive range of 6 to 20 , print Weird

If n is even and greater than 20, print Not Weird

In [ ]:
if __name__ == '__main__':
    n = int(input().strip())

    if n%2!=0:
        print('Weird')

    elif n%2==0 and 2<=n<=5:
        print('Not Weird')

    elif n%2==0 and 6<=n<=20:
        print('Weird')

    elif n%2==0 and n>20:
        print('Not Weird')

5
Weird

2.Print 'Hello, World!'

In [ ]:
my_string = 'Hello, World!'
print(my_string)

Hello, World!

3.The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

The first line contains the sum of the two numbers.

The second line contains the difference of the two numbers (first - second).

The third line contains the product of the two numbers.

In [ ]:
a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)

3
6
9
-3
18

4.The provided code stub reads two integers, a  and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a//b. The second line should contain the result of float division,  a/b .

No rounding or formatting is necessary.

In [ ]:
a = int(input())
b = int(input())
print(a//b)
print(a/b)

3
7
0
0.42857142857142855

5.For all non-negative integers i<n, print i^2.

In [ ]:
n = int(input())
for i in range(n):
  print(i**2)

5
0
1
4
9
16

6.An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

In [4]:
def is_leap(year):
    leap = False

    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    else:
        leap = False

    return leap


year = int(input())

is_leap(year)

2013

False

7.Without using any string methods, try to print the following:
123....n

Note that "..." represents the consecutive values in between.

In [7]:
n = int(input())
for i in range(1, n+1):
    print(i, end="")

7
1234567